<form method="POST" action="<%= url %>?_method=DELETE">
        <button 
            type="submit" 
            style="
                background-color:rgb(245, 39, 39);
                color:white;
                padding:10px;
                border:none;
                border-radius:5px;
                font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size:20px;
                margin: 20px;
                "
                >
                    Delete
        </button>
</form>