<header style="text-align:center">
        <a href="/" style="
            font-family: 'Cinzel Decorative', cursive;
            color: white;
            text-decoration: none;
            font-size: 50px;
            
        ">Mybrary</a>
        <nav>
        <ul style="
            list-style-type: none;
            font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            
            font-size:30px;     
            ">
            <li style="
            width:100%;
            "
            >
            <a href="/authors" style="
                text-decoration: none;
                color: white;
                ">
            
            
            <div style="background-color: rgb(40,40,40);margin-left:-40px;padding-bottom:10px;margin-bottom: 20px;padding-top:10px">
                Authors
            </div>
        </a>              
            </li>


            <li style="
            width:100%;
            ">
                <a href="/authors/new" style="
                text-decoration: none;
                color: white;
                ">
                <div style="background-color: rgb(40,40,40);margin-left:-40px;padding-bottom:10px;margin-bottom: 20px;padding-top:10px">
                    Add Authors
                </div>
            </a>                
            </li>
            <li style="
            
            width:100%;
            ">
                <a href="/books" style="
                text-decoration: none;
                color: white;
                ">
                <div style="background-color: rgb(40,40,40);margin-left:-40px;padding-bottom:10px;margin-bottom: 20px;padding-top:10px">
                    Books
                </div>
            </a>                
            </li>
            <li style="
            
            width:100%;
            ">
                <a href="/books/new" style="
                text-decoration: none;
                color: white;
                ">
                <div style="background-color: rgb(40,40,40);margin-left:-40px;padding-bottom:10px;margin-bottom: 20px;padding-top:10px">
                    Add book
                </div>
            </a>                
            </li>
        </ul>
    </nav>
</header>