<header style="text-align:center">
        <a href="/" style="
            font-family: 'Cinzel Decorative', cursive;
            color: white;
            text-decoration: none;
            font-size: 50px;
            
        ">Mybrary</a>
        <nav>
        <ul style="
            list-style-type: none;
            
            
            font-size:30px;     
            ">
            <li style="
            width:100%;
            
            
            
            ">
            <div style="background-color: rgb(40,40,40);margin-left:-40px">
                <a href="/authors" style="
                text-decoration: none;
                padding:10px;
                color: white;
                ">Authors</a>  
            </div>              
            </li>
            <li style="
            
            width:100%;
            ">
                <a href="/authors/new" style="
                text-decoration: none;
                color: white;
                ">Add Authors</a>                
            </li>
            <li style="
            
            width:100%;
            ">
                <a href="/books" style="
                text-decoration: none;
                color: white;
                ">Books</a>                
            </li>
            <li style="
            
            width:100%;
            ">
                <a href="/books/new" style="
                text-decoration: none;
                color: white;
                ">Add book</a>                
            </li>
        </ul>
    </nav>
</header>