<header style="text-align:center">
        <a href="/" style="
            font-family: 'Cinzel Decorative', cursive;
            color: white;
            text-decoration: none;
            font-size: 40px;
        ">Mybrary</a>
        <nav>
        <ul style="list-style-type: none;display:flex;background-color:rgb(50,50,50);padding:20px">
            <li>
                <a href="/authors">Authors</a>                
            </li>
            <li>
                <a href="/authors/new">Add authors</a>                
            </li>
            <li>
                <a href="/books">Books</a>                
            </li>
            <li>
                <a href="/books/new">Add book</a>                
            </li>
        </ul>
    </nav>
</header>