<header style="text-align:center">
        <a href="/" style="
            font-family: 'Cinzel Decorative', cursive;
            color: white;
            text-decoration: none;
            font-size: 50px;
            
        ">Mybrary</a>
        <nav>
        <ul style="
            list-style-type: none;
            display:flex;
            background-color:rgb(50,50,50);
            font-size:30px;            
            ">
            <li style="
            margin:5px;
            margin-left:9%;
            padding:5px;
            margin-right:7%;
            ">
                <a href="/authors" style="
                text-decoration: none;
                color: white;
                ">Authors</a>                
            </li>
            <li style="
            
            margin:5px;
            margin-left:7%;
            padding:5px;
            margin-right:7%;
            ">
                <a href="/authors/new" style="
                text-decoration: none;
                color: white;
                ">Add Authors</a>                
            </li>
            <li style="
            
            margin:5px;
            margin-left:7%;
            padding:5px;
            margin-right:7%;
            ">
                <a href="/books" style="
                text-decoration: none;
                color: white;
                ">Books</a>                
            </li>
            <li style="
            
            margin:5px;
            margin-left:7%;
            padding:5px
            ">
                <a href="/books/new" style="
                text-decoration: none;
                color: white;
                ">Add book</a>                
            </li>
        </ul>
    </nav>
</header>