<header style="
    text-align: left;
    font-size: 35px;
    font-family: 'Cinzel Decorative', cursive;
    margin-left:20px;
    margin-bottom: 20px;
    ">Recently added</header>
<div>
    <% books.forEach(book => { %>
    <a href="/books/<%= book.id %>">
        <img style="margin-left:10px;" height="300" width="200" src="<%= book.coverImagePath %>">
    </a>
    <% }) %>  
</div>