<header style="
    text-align: left;
    font-size: 35px;
    font-family: 'Cinzel Decorative', cursive;
    margin-left:20px;
    margin-bottom: 20px;
    text-align: center;
    ">Recently added</header>
<div style="text-align: center;">
    <% books.forEach(book => { %>
    <a href="/books/<%= book.id %>">
        <img style="margin-left:15px;" height="350" width="230" src="<%= book.coverImagePath %>">
    </a>
    <% }) %>  
</div>