<div style="
text-align: center;
">
    <label style="
        font-family: Roboto, Oxygen;
        font-size: 25px;
        ">
            Name
    </label>
    <input style="
        font-size: 19px;
        margin-left:10px; 
        margin-right:60px;
        border:none;
        outline:none;
        font-family:Roboto, Oxygen;
        " 
        type="text" name="name" value="<%= author.name %>"
    >
</div>